<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Reset Password</title>
  </head>
  <body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <!-- Card Wrapper -->
          <div class="card shadow-sm p-4">
            <h2 class="text-center mb-4">Reset Password</h2>
            <!-- Form -->
            <form
              th:action="@{/user/forgot-password/reset(token=${param.token})}"
              method="post"
              th:object="${reset}"
            >
              <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="********"
                  th:field="*{password}"
                />
              </div>
              <button type="submit" class="btn btn-primary w-100">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
