<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1 class="hero-title">Form Amartek Job Portal</h1>
      <form
        class="form-style"
        th:action="@{/job/save(id=${job.id})}"
        th:object="${job}"
        method="post"
      >
        <!-- Job Title -->
        <input
          type="text"
          name="jobTitle"
          id="jobTitle"
          th:field="*{jobTitle}"
          placeholder="UI/UX Developer"
        />
        <br />

        <!-- Job Type -->
        <select name="jobtype" th:field="*{jobtype.id}">
          <option value="">Select Job Type</option>
          <option
            th:each="type : ${jobType}"
            th:value="${type.id}"
            th:text="${type.name}"
          ></option>
        </select>
        <br />

        <!-- Sallary -->
        <input
          type="number"
          name="sallary"
          id="sallary"
          placeholder="0"
          th:field="*{sallary}"
        />
        <br />

        <!-- Description -->
        <textarea
          name="description"
          id="description"
          placeholder="Enter job description"
          th:field="*{description}"
        ></textarea>
        <br />

        <!-- Button -->
        <button type="submit" class="btn">Save</button>
      </form>
    </div>
  </body>
</html>
